doctype html
html ng-app="app" style="height: 100%"
  head
    script src="https://code.jquery.com/jquery-2.1.1.min.js"
    script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"

    javascript:
      angular.module('app', []).controller('ctrl', function($scope, $http){
        $scope.urls = '#{@urls}';
        $scope.urlsSize = #{@urls_size}
        $scope.commit_message = '';
        $scope.logs = [];

        function pushLog(log){
          log.time = new Date().toLocaleTimeString();
          $scope.logs.push(log);
        }

        $scope.save = function(){
          $http.post('/save_urls', {urls: $scope.urls})
          .success(function(data){
            $scope.urls = data.urls;
            $scope.urlsSize = data.urls_size;
            for(i = 0; i < data.invalid_urls.length; ++i){
              pushLog({isURL: false, isError: true, item: "無効なURLです: " + data.invalid_urls[i]});
            }
            pushLog({isURL: false, isError: false, item: data.message});
          }).error(function(data){
            console.log(data);
          });
        };

        $scope.shoot = function(index){
          if (index === 0){
            pushLog({isURL: false, isError: false, item: "撮り始めます"});
          }

          $http.post('/shoot', {index: index})
          .success(function(data){
            pushLog({isURL: false, isError: false, item: "(" + (index + 1) + "/" + ($scope.urlsSize + 1) + ")完了: " + data.url});

            if (data.last){
              $http.post('/push_repository', {commit_message: $scope.commit_message})
              .success(function(data){
                pushLog({isURL: false, isError: false, item: "(" + ($scope.urlsSize + 1) + "/" + ($scope.urlsSize + 1) + ")push完了"});
                pushLog({isURL: true, isError: false, item: data.url});
              })
              .error(function(data){
                pushLog({isURL: false, isError: true, item: data.error});
              });
            } else {
              $scope.shoot(index + 1);
            }
          })
          .error(function(data){
            pushLog({isURL: false, isError: true, item: data.error});
          });
        };
      });

    body ng-controller="ctrl" style="height: 100%; margin: 0px"
      div style="top: 0px; height: 100%; width: 50%; box-sizing: border-box;"
        h1 style="margin-top: 0px" #{@site}
        p
          a href="https://bitbucket.org/snapsaver/#{@site}/commits/all" https://bitbucket.org/snapsaver/#{@site}/commits/all

        div
          textarea ng-model="urls" placeholder="URLリスト"
          button ng-click="save();" リスト保存

        div
          textarea ng-model="commit_message" placeholder="コミットメッセージ"
          button ng-click="shoot(0);" スナップショットを取る

        div
          form action="/delete_session" method="post"
            input type="submit" value="ログオフ"

      div style="border: solid 0.2rem #000; position: absolute; left: 50%; top: 0px; width: 50%; height: 100%; overflow: auto; box-sizing: border-box"
        div ng-repeat="log in logs"
          a    ng-if=" log.isURL" ng-style="log.isError ? {color: 'red'} : {}" href="{{log.item}}" [{{log.time}}] {{log.item}}
          span ng-if="!log.isURL" ng-style="log.isError ? {color: 'red'} : {}"                     [{{log.time}}] {{log.item}}
